{% if layout.common-ext-js %}
  {% for js in layout.common-ext-js %}
    {% include ext-js.html js=js %}
  {% endfor %}
{% endif %}

{% if layout.common-js %}
  {% for js in layout.common-js %}
    <!-- doing something a bit funky here because I want to be careful not to include JQuery twice! -->
    {% if js contains 'jquery' %}
      <script>
        if (typeof jQuery == 'undefined') {
          document.write('<script src="{{ js | relative_url }}"></scr' + 'ipt>');
        }
      </script>
    {% else %}
      <script src="{{ js | relative_url }}"></script>
    {% endif %}
  {% endfor %}
{% endif %}

{% if site.site-js %}
  {% for js in site.site-js %}
    <script src="{{ js | relative_url }}"></script>
  {% endfor %}
{% endif %}

{% if page.ext-js %}
  {% for js in page.ext-js %}
    {% include ext-js.html js=js %}
  {% endfor %}
{% endif %}

{% if page.js %}
  {% for js in page.js %}
    <script src="{{ js | relative_url }}"></script>
  {% endfor %}
{% endif %}
<script>{% include beermap.json %}</script>
<script>{% include exportfig.json %}</script>

<script>
beermap_data = JSON.parse(beermap_data);
exportfig_data = JSON.parse(exportfig_data);
//countryfig_data = JSON.parse(countryfig_data);

Plotly.newPlot('plotly-beermap', beermap_data['USA']['Ale']['data'], beermap_data['USA']['Ale']['layout']);
Plotly.addFrames('plotly-beermap', beermap_data['USA']['Ale']['frames']);

Plotly.newPlot('plotly-exportfig', exportfig_data['USA']['Ale']['data'], exportfig_data['USA']['Ale']['layout']);
Plotly.addFrames('plotly-exportfig', exportfig_data['USA']['Ale']['frames']);

// Function to update the chart when the dropdown menu selection changes
function updatePlot() {
// Get the selected data from the dropdown menu
var country = document.getElementById('select-country').value;
var style = document.getElementById('select-beer-style').value;

//console.log(country);
// Update the chart with the selected data
//chartData = [{x: window[data], type: 'scatter'}];
//Plotly.react('plotly-beermap', chartData, layout);
Plotly.react('plotly-beermap', beermap_data[country][style]['data'], beermap_data[country][style]['layout']);
Plotly.addFrames('plotly-beermap', beermap_data[country][style]['frames']);

Plotly.react('plotly-exportfig', exportfig_data[country][style]['data'], exportfig_data[country][style]['layout']);
}
</script>

