<div>
    <script>{% include rating.json %}</script>
    <p>Select a country of interest:</p>
    <select id="select-country-rating" onchange="updateRating()">
        <option value="USA">United States</option>
        <option value="GBR">United Kingdom</option>
        <option value="DEU">Germany</option>
        <option value="CAN">Canada</option>
        <option value="ITA">Italy</option>
        <option value="FRA">France</option>
        <option value="ESP">Spain</option>
        <option value="AUS">Australia</option>
        <option value="NLD">Netherlands</option>
        <option value="CHE">Switzerland</option>
        <option value="BEL">Belgium</option>
        <option value="RUS">Russia</option>
        <option value="CZE">Czech Republic</option>
        <option value="BRA">Brazil</option>
        <option value="AUT">Austria</option>
        <option value="JPN">Japan</option>
        <option value="SWE">Sweden</option>
        <option value="POL">Poland</option>
        <option value="MEX">Mexico</option>
        <option value="DNK">Denmark</option>
        <option value="ARG">Argentina</option>
        <option value="NZL">New Zealand</option>
        <option value="NOR">Norway</option>
        <option value="ZAF">South Africa</option>
        <option value="CHN">China</option>
        <option value="IRL">Ireland</option>
        <option value="CHL">Chile</option>
        <option value="UKR">Ukraine</option>
        <option value="HUN">Hungary</option>
        <option value="FIN">Finland</option>
        <option value="PRT">Portugal</option>
        <option value="LTU">Lithuania</option>
        <option value="SVK">Slovak Republic</option>
        <option value="SVN">Slovenia</option>
        <option value="IND">India</option>
        <option value="THA">Thailand</option>
        <option value="VNM">Vietnam</option>
    </select>
    <br>
    <br>
    <div id="plotly-rating"></div>
    <script>
    rating_data = JSON.parse(rating_data);
    
    Plotly.newPlot('plotly-rating', rating_data['CAN']['Ale']['data'], rating_data['CAN']['Ale']['layout']);

    // Function to update the chart when the dropdown menu selection changes
    function updateRating() {
        // Get the selected data from the dropdown menu
        var country = document.getElementById('select-country-rating').value;
        var style = document.getElementById('select-beer-style').value;
        Plotly.react('plotly-rating', rating_data[country][style]['data'], rating_data[country][style]['layout']);
    }
    </script>
</div>